
@{
    ViewBag.Title = "Solution submitted";
}

<div class="container">
    <div class="row">
        <h1>Solution submitted</h1>

        <button class="btn btn-primary">@Html.ActionLink("Submit another solution", "Index", "Home")</button>
        <button class="btn btn-primary">@Html.ActionLink("Go to leaderboard", "Leaderboard", "Home")</button>
    </div>
</div>
